<div class="container">
  <form (ngSubmit) =" employeeEdit()"[formGroup]="employee_edit">
    <div class ="form-group">
      <input class="form-control" placeholder="user_email" formControlName="user_email">
    </div>
    <div class ="form-group">
      <input class="form-control" placeholder="user_name" formControlName="user_name">
    </div>
    <div class ="form-group">
      <input class="form-control" placeholder="user_password" formControlName="user_password">
    </div>
    <div class ="form-group">
      <input class="form-control" placeholder="user_mobile_no" formControlName="user_mobile_no">
    </div>

    <div class="form-group">
      <button type="submit" class ="btn btn-primary">Edit Employee</button>
    </div>
  </form>
</div>



